/* GENERAL STYLES */

body {color:#000; margin:0px; padding:0px; 
font:12px normal Arial, Helvetica, sans-serif;}

img {border:#dcdcdc 2px solid; }
.imgpad, .testimonials img {margin:5px 5px 5px 0px;}
p {padding:0; margin:0; padding:4px 0px; line-height:1.4em;}
a { color:#4a6db5; font-weight:bold;}
a:hover { color:#400080; text-decoration:underline;}

/* Intro page with animated gif*/
#introPage{
	border:10px solid #400080;
	width:704px; 
	margin:auto; 
	margin-top:10px;
	background:#FF9CCE;
}
#introImg {
	margin:30px;
}

#introImg img {
	border:1px #dcdcdc;
	vertical-align:top;
	height:480px;
	width:640;
}

#introContent {
	position:absolute;
	left:258px;
	top:255px;
	width:524px;
	height:206px;
	z-index:1;
}
#navMenu p {
	font-weight:bold;
}
/* Main site */

#all			{width:890px;padding:4px;  border:#400080 10px solid;margin:auto;}
#header	{
	height:109px; 
	background:url(../images/banners/muffinsbanner.jpg) no-repeat ;
	/*width:890px;*/
	background-position:center;
/*	margin: 0px 5px ;*/

}
#all #header #motto {
	width:392px;
	height:15px;
	/*top:25px;
	position:absolute;
	left:280px;
	*left:235px;*/
	margin-left:-10em;
}

#page {border:#ffcc33 solid 1px;}

h1, .h1 {
	color: #400080;
	font-size: 1.3em;
	margin:0; 
	padding:0;
}

h2, .h2 {
	color: #D50B7E;
	font-size: 1.1em;
}

h2 a, .h2 a{text-decoration:none; color: #D50B7E;}
h2 a:hover {color:#400080; text-decoration:none}

h3, .h3 {
	font-size: 1.0em;
	font-weight:bold;
	display: inline;
	color:#000000;	
}


.small {
	font-size: 0.8em;
	font-weight:normal;
	display: inline;
	color:#000000;	
}
.smalllink {
	font-size: 0.8em;
	font-weight:normal;
	display:inline;
	float:right
}



.motto { font-size:2.4em; font-weight:bold; display:inline; font-family:"Curlz MT",Verdana, Arial, Helvetica, sans-serif; color:#D50B7E;
	
}
.label {color:#400080; margin-right:5%; font-size:12px; font-weight:bold;}
.corp {padding-left:20px;}
.cust { padding-left:20px; }

#cakeleft {
		float:left;
		width:20%;
		font-weight:bold;
		background:#330099
}

	#cakecenter {
		float:left;
		width: 50%;
		background:#993300
		
		}
.cakediv1 p{ display:inline; margin-left:5%;}
.cakediv1 {float:left; width:91px; }
.cakediv2 {float:left; width:125px; font-size:0.9em;}
.cakediv {
	float:left;
	border:#dcdcdc 1px solid;
	border-bottom:none;
	border-right:none;
	width:45%;
	padding:3px;
	margin:0px 0px 3px 2px;
	_height:140px;
	min-height:140px;}
.cakediv p {padding-top:0px;}
.cakediv a:hover .img{ border:#ffcc33 2px solid}
.cakediv h2, .caketype h2 {padding:0; margin:0;}
.intro {margin-bottom:10px; font-weight:bold}
.testimonials {width:90%;}
.testimonial {
float:left;
	margin-top:10px;
}
p.customer {
	margin:0;
	padding:0;
	display:block;
	text-align:right;
}
.testimonials .imgright {margin: 5px 0px 5px 5px;}
.imgmargin {margin:10px; margin-left:0px;}
/*  BULLETS */

#list ul li { padding-left: 0em; list-style:none; font-size: 0.98em; margin-bottom: 0.5em; padding:0 0 0 8px;text-indent:2px; }
ul.faqlist li a {
	text-decoration: none;
}
/* NAV STYLES */
.nav-menu {clear:both; width:100%; padding:1%; color:#400080; font-size:1.0em; font-weight:bold; }
.nav-menu a {color:#400080; font-weight:bold}

/* LEFT NAV */

#navlist {
	border:#dcdcdc 1px solid;
	width:140px;
	background:#fc3;

}
#left-nav ul {
list-style: none;
margin:3px;
padding:5px;
background:#fff
/*border-bottom:1px solid #fc3;*/

}
.noborder {
	border:none !important;
}
#left-nav li
{ margin: 0 ;
}

#left-nav li a
{
background-image: url(../images/buttons/pinkmuffin-nav.jpg);background-repeat: no-repeat;
background-position:left; padding: 2px 2px 2px 32px;
background: none;
font-weight:bold;
height: 2em;
line-height: 2em;
width: 9em;
display: block;
/*border: 1px solid #ffcc33;*/
color: #400080;
text-decoration: none;
text-align: left;
margin-bottom:2px;
font-size:0.9em;

}

#left-nav li a:hover
{
background-image: url(../images/buttons/yellowmuffin-nav.jpg);background-repeat: no-repeat;
background-position:left; padding: 2px 2px 2px 32px;
background: none;
font-weight:bold;
height: 2em;
line-height: 2em;
width: 9em;
display: block;
/*border: 1px solid #ffcc33;*/
color: #D50B7E;
text-decoration: none;
text-align: left;
margin-bottom:2px;
font-size:0.9em;
}

#adminnav ul
{
list-style: none;
margin: 0;
padding:5px;
width:100%;}

/* Hide from IE5-Mac \*/
#left-nav li a
{
float: none
}
/* End hide */

#left-nav
{
width:140px;
background:none;

}
	
/* DIV ALIGNMENT */


	/* Footer styles */
	#all #footer{background:url(../images/banners/footer.gif) no-repeat; width:890px; overflow:hidden }
	#main1 {
		padding:5px 0px;
		_padding-top:10px;
		width:870px;
		margin:0px 10px;
		}
	#main2 {
		margin:0; padding:0;
		}
	#left {
		float:left;
		width:148px;
		margin:0; padding:0 0 0 0 ;
		background:none;
		}
	#right {
		float:right;
		width:155px;
		margin:0;
		border:#dcdcdc 1px solid;
		font-size:80%;
		text-align:center;
		background:#4A6DB5;
		}
	#right p {
	margin:0; padding:0; margin-bottom:4px; color:#fff}
	#right .nav-menu p, #right .nav-menu a {
		color:#FFF;
		font-weight:bold;
	}
	#right .nav-menu p {
		font-size:1.5em;}
	#middle {
	padding:0px 10px;
		margin:0 160px;
		background:none;
		width:530px;
		_width:500px;
		
		
		}
	.column-in {
		margin:0; 
		}
	#right .column-in {
		clear:both
	}
	.cleaner {
		clear:both;
		height:1px;
		font-size:1px;
		border:none;
		margin:0; padding:0;
		background:transparent;
		}
		
.table { width:90%; background:#FFBDE6; border:#000033 1px solid}
.table th {}
.table tr {}
.table td {padding: 1%; }
.caketype, .cookie {
	text-align:center;
	padding:1% 0px 0px 0px;
	border:#dcdcdc 1px solid;
	width:31%;
	float:left;
	_height:140px;
	min-height:140px;
}
.cookie {
	min-height:100px;
	_height:100px;
}
.links { float:left}
.links .link {float:left; width:80%; margin:10px 5%;}
.links .link img {float:right;}

ul.links {
	margin:0px;
}
ul.links li {
	display:inline;
	padding:1em;
	float:left
}

ul.links li img {
	vertical-align:top;
}
ul.links li a {
	display:block;
}
div.adminimages {
	width:120px;
	float:left;
	border: 1px solid #292929;
	height: 100px;
}
#recent {
	background:#fff;
	margin:9px;
	border:1px solid #dcdcdc;
}
#recent h2 {margin:2px; padding:2px}
.popup
{
   position:absolute; left:30; top:50; 
   width:200px; height:auto;
   margin:20px 30px;
   padding:10px 10px;
   border:4px solid #d507be;
   background:#fff;
   font-weight:bold;
   font-size:10pt;
   visibility:hidden;
}
.popup img {width:200px;}
.popup h2 {color:#400080}

div.mycake {
	width:500px;
}
img.mycake {
	vertical-align:middle;
}
p.mycake {
	width: 380px;
	float:right;
	margin-right:20px;
}

ul.cakelist li {
	font-size:0.9em;
}
.signup {
	border:1px solid #fc3;
}
.bold {
font-weight:bold}
.left {
	float:left;
}
h1.deep {
	margin-top:10px;}
#social a {
	margin-right:5px;
}

#friend {
	background: #d507BE;
	border:1px solid #dcdcdc;
	float:left;
	clear:both;
	margin-top:10px;
	width:140px;
	color:#fff;
	font-weight:bold;
}

#friend input.friend {
	font-size:0.9em;
}
#friend input.button {
	background:#fff;
	margin:2px;
	_margin-bottom:0px;
}

.media p {
/*	clear:right*/
	}